* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f7f7f7;
  --secondary-color: #e0ddf8;
  --third-color: #7d6fd3;
  --fourth-color: #3e3c50;
  --fifth-color: #29263d;
  --container-normal: 1200px;
  --container-wide: 1400px;
  --container-narrow: 900px;
}

body {
  font-family: 'poppins';
  line-height: 1.6;
  background-color: var(--fifth-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Utility Classes */

.primary-heading {
  font-size: 1.2;
  font-weight: 500;
  padding: 2rem;
  border-bottom: var(--fifth-color);
}

.primary-btn {
  border: none;
  background: none;
  font-size: 1.2rem;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s;
  background-color: #29263d;
  padding: 0.5rem 5.5rem;
  font-family: inherit;
  border-radius: 2rem;
  width: 100%;
  margin-top: 1rem;
}
.secondary-btn {
  border: none;
  background: none;
  font-size: 1.2rem;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--third-color);
  padding: 0.5rem 5.5rem;
  font-family: inherit;
  border-radius: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.secondary-btn:hover {
  outline: none;
  background-color: var(--fifth-color);
}

.primary-btn:hover {
  outline: none;
  background-color: var(--third-color);
}
/* Navbar */

.navbar {
  max-width: var(--container-normal);
}

.navbar__container {
  display: grid;
  grid-template-columns: 0.28fr 1fr;
  height: 15vh;
  align-items: center;
}
.navbar__content {
  display: grid;
  padding: 0 1rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px var(--fourth-color);
  border-left: solid 2px var(--fourth-color);
}

.navbar__logo {
  height: 70px;
  width: 70px;
  filter: invert(100%) brightness(91%);
  margin-left: 8rem;
}

.navbar__welcome {
  font-size: 1.8em;
  font-weight: 400;
}

.navbar__login {
  display: flex;
  justify-content: flex-end;
  height: 15vh;
  align-items: center;
}

.navbar__login-form input {
  padding: 0.5rem 0rem;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  width: 100px;
  border-radius: 10rem;

  color: var(--primary-color);
  border: 1px solid var(--third-color);
  transition: all 0.3s;
  background-color: #3e3c50;
}

.navbar__login-input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

.navbar__login-input::placeholder {
  color: var(--secondary-color);
}
.login__btn {
  border: none;
  background: none;
  font-size: 1.5rem;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 1rem;
}

.login__btn:hover {
  outline: none;
  color: var(--third-color);
}

.app {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1.02fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  height: 85vh;

  /* Smooth transition for opacity and transform */
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.hidden {
  opacity: 0;
  transform: translateY(20px);
}
.menu {
  border-right: solid 2px var(--fourth-color);
  width: 100%;
}

.side__menu-main {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  border-bottom: 2px solid var(--fourth-color);
}
.side__menu-main-item,
.side__menu-second-item {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.side__menu-main-item:hover,
.side__menu-second-item:hover {
  background-color: #7d6fd3;
  border-radius: 2rem;
}

.current {
  background-color: #7d6fd3;
  border-radius: 2rem;
}
.side__menu-icon {
  margin-right: 0.8rem;
}

.side__menu-second {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
}

/* Main Content */
.summary {
  padding: 2rem 2rem;
}
.balance {
  text-align: left;
}
.balance__label {
  font-size: 1.2rem;
}

.balance__value {
  font-size: 2rem;
  font-weight: 400;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.box {
  background-color: var(--fourth-color);
  padding: 2rem 2rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 40%;
  text-align: center;
}

.summary__icon {
  font-size: 25px;
}

.expenses__detail-title,
.income__detail-title,
.saving__detail-title,
.credit__detail-title {
  font-weight: 100;
}

.operations__history {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operation__heading {
  font-size: 1.2;
  font-weight: 500;
  padding: 2rem;
  border-bottom: var(--fifth-color);
}

/* MOVEMENTS */
.movements {
  background-color: var(--fourth-color);
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 10px;
  width: 100%;
  font-family: inherit;
}

.movements__scrollable {
  max-height: 0;
  overflow-y: auto;
  transition: max-height 0.3s ease-in-out;
  max-height: 50vh;
}

.movements__row {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--fifth-color);
  gap: 1rem;
  flex: 1;
}

.movements__type {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 10rem;
}

.movements__type--income {
  background-image: linear-gradient(
    to top left,
    var(--third-color),
    var(--fourth-color)
  );
  width: 38%;
  text-align: center;
}

.movements__type--expense {
  background-image: linear-gradient(
    to top left,
    var(--fifth-color),
    var(--fourth-color)
  );
  width: 38%;
  text-align: center;
}

.movements__value {
  font-size: 1.2rem;
  margin-left: auto;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
}

.movements__operation-reason {
  font-size: 1.1rem;
  margin: auto;
  text-align: center;
}

/* To handle the scrollable section */

/* Scrollbar Styles */
.movements__scrollable::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.movements__scrollable::-webkit-scrollbar-track {
  background: var(--fourth-color); /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

.movements__scrollable::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid var(--fourth-color); /* Border around the thumb */
}

.movements__scrollable::-webkit-scrollbar-thumb:hover {
  background-color: var(--third-color); /* Color of the thumb on hover */
}

.movements__scrollable::-webkit-scrollbar-thumb:active {
  background-color: var(
    --fifth-color
  ); /* Color of the thumb when active (clicked) */
}

/* Sign up form */

.signup {
  padding: 2rem 2rem;
  grid-column: span 3;
}

.signup__container {
  background-color: var(--fourth-color);
  max-width: 40%;
  margin: auto;
  border-radius: 1rem;
}

.signup__content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* height: 50vh; */
  padding: 3rem;
  text-align: left;
}

.signup__title {
  margin-bottom: 1rem;
  text-align: left;
}

.signup__heading {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}
.signup__subheading {
  font-size: 1rem;
  font-weight: 400;
}

.signup__form {
  max-width: 100%;
}
.signup__form-label--name,
.signup__form-label--password {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.signup__form-input--name,
.signup__form-input--password {
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  text-align: left;
  border-radius: 10rem;
  color: var(--primary-color);
  border: 1px solid var(--third-color);
  transition: all 0.3s;
  background-color: #3e3c50;
  width: 100%;
}
.signup__form-input--name:focus,
.signup__form-input--password:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}
.signup__form-input--name::placeholder,
.signup__form-input--password::placeholder {
  color: var(--secondary-color);
  opacity: 0.4;
}

.signup__form-submit-button {
  border: none;
  background: none;
  font-size: 1.3rem;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s;
  background-color: #29263d;
  padding: 0.5rem 5.5rem;
  font-family: inherit;
  border-radius: 2rem;
  width: 100%;
  margin-top: 1rem;
}
.signup__form-submit-button:hover {
  outline: none;
  background-color: var(--third-color);
}

.error {
  text-align: center;
}

/* Operations */

.add__income,
.add__expense,
.add__plan {
  background-color: var(--fourth-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  /* align-items: center; */
  width: 90%;
  margin: auto;
  height: 70vh;
  text-align: center;
}

.add__expense-content-heading,
.add__income-content-heading,
.add__plan-content-heading {
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 2rem;
  font-size: 1.2;
  font-weight: 500;
  padding: 2rem;
  /* border-bottom: var(--fifth-color); */
}

.add__income-input--message,
.add__income-input--amount,
.add__expense-input--message,
.add__expense-input--amount,
.add__plan-input--message,
.add__plan-input--amount,
.add__plan-input--note {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  text-align: left;
  border-radius: 10rem;
  color: var(--primary-color);
  border: 1px solid var(--third-color);
  transition: all 0.3s;
  background-color: #3e3c50;
  width: 100%;
}
.add__income-input--message:focus,
.add__income-input--amount:focus,
.add__expense-input--message:focus,
.add__expense-input--amount:focus,
.add__plan-input--message:focus,
.add__plan-input--amount:focus,
.add__plan-input--note:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}
.add__income-input--message::placeholder,
.add__income-input--amount::placeholder,
.add__expense-input--message::placeholder,
.add__expense-input--amount::placeholder,
.add__plan-input--message::placeholder,
.add__plan-input--amount::placeholder,
.add__plan-input--note::placeholder {
  color: var(--secondary-color);
  opacity: 0.4;
}

/* Remove default arrows in Chrome, Safari, Edge, and Opera */
.amount-input::-webkit-outer-spin-button,
.amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Planer */

.add__plan-input--message,
.add__plan-input--amount,
.add__plan-input--note {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: none;
  font-size: 1rem;
  font-family: inherit;
  text-align: left;
  border-radius: 10rem;
  color: var(--primary-color);
  border: 1px solid var(--third-color);
  transition: all 0.3s;
  background-color: #3e3c50;
  width: 100%;
}

.add__plan-container {
  width: 90%;
  margin: 1rem;
  padding: 2rem 2rem;
  background-color: var(--fourth-color);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add__plan-header {
  text-align: center;
  margin-bottom: 20px;
}
.add__plan-heading {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--primary-color);
}
.add__plan-subheading {
  color: var(--primary-color);
  font-size: 0.9rem;
}

.plan {
  width: 90%;
  margin: 1rem;
  padding: 2rem 2rem;
  background-color: var(--fourth-color);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.plan__expense-list {
  border-bottom: 2px solid var(--primary-color);
}
.plan__expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: var(--fifth-color);
  border-radius: 5px;
  margin-bottom: 10px;
}
.plan__expense-detail-heading {
  font-size: 1.1rem;
  color: var(--primary-color);
}
.expense-item span {
  font-size: 14px;
  color: var(--secondary-color);
}

.plan__expense-btn {
  display: flex;
  gap: 0.5rem;
}

.plan__expense-btn--edit,
.plan__expense-btn--delete {
  background-color: #7d6fd3;
  border: none;
  background: none;
  font-size: 1rem;
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--third-color);
  padding: 0.7rem;
  font-family: inherit;
  border-radius: 0.4rem;
  width: 100%;
}
.plan__expense-btn--edit:hover,
.plan__expense-btn--delete:hover {
  outline: none;
  background-color: var(--fourth-color);
}
.plan__expense-summary {
  display: flex;
  /* text-align: center; */
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--third-color);
  border-radius: 1rem;
  flex-direction: column;
}
.plan__expense-summary--total,
.plan__expense-summary--remaining {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 300;
  /* background-color: var(--third-color); */
}

.hidden-form {
  display: none;
}
